.Videocard{
    margin-bottom: 40px;
    width: 270px;
    cursor: pointer;
}
.videocard_thumbnail{
    width: 250px;
    height: 140px;
}
.Videocard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.Videocard_text{
    margin-left: 15px;

    .h4{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .p{
        margin-bottom: 5px;
        color: gray;
    }
}
.Videocard_avatar{
    width: 30px;
    height: 30px;
}